<nav>
  <mat-toolbar class="toolbar">
    <span
      *ngFor="let n of navItems"
      class="nav-el"
      [routerLink]="n.link"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: n.exactMatch }"
    >
      <mat-icon *ngIf="n.icon.path !== '' && n.icon.type === icontype.MAT">{{
        n.icon
      }}</mat-icon>
      <div
        class="svg-icon"
        *ngIf="n.icon.path !== '' && n.icon.type === icontype.SVG"
        [inlineSVG]="n.icon.path"
      ></div>
      <img
        class="logo"
        *ngIf="n.icon.path !== '' && n.icon.type === icontype.IMAGE"
        [src]="n.icon.path"
      />

      <span class="text">{{ n.title }}</span>
    </span>

    <span class="spacer"></span>
    <span class="login-wrapper"
      ><app-login-dropdown></app-login-dropdown>
    </span>
  </mat-toolbar>
</nav>
