<div class="trip-list">
  <div
    *ngFor="let trip of tripPlannerService.trips"
    class="trip-el"
    (click)="showTrip(trip)"
    [ngClass]="{ active: trip.id === shownTrip?.id }"
  >
    {{ trip.name }}
  </div>
</div>
<div class="trip-wrapper">
  <!-- A trip -->
  <app-trip
    [trip]="shownTrip"
    (close)="hideTrip()"
    *ngIf="shownTrip !== null"
  ></app-trip>
  <!-- Choose a trip Error -->
  <div
    *ngIf="shownTrip === null && tripPlannerService.trips.length > 0"
    class="choose-trip-error"
  >
    <div class="content">
      <div [inlineSVG]="'/assets/Icons/ico-alert-circle.svg'"></div>
      Wähle eine Reise
    </div>
  </div>
  <!-- Add trips Error -->
  <div
    *ngIf="shownTrip === null && tripPlannerService.trips.length === 0"
    class="add-trips-error"
  >
    <div class="content">
      <div [inlineSVG]="'/assets/Icons/ico-alert-circle.svg'"></div>
      Füge Reisen hinzu
    </div>
  </div>
</div>
