@import "src/app/shared/styles/general-styles.scss";
@import "src/app/shared/styles/colors.scss";

.trip-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  background-color: $charcoal;
  color: $white;
  height: 40px;
  * {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.trip-el {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  &:hover,
  &.active {
    color: $coral;
  }
}

.trip-wrapper {
  height: calc(100% - 40px);
}

.add-trips-error,
.choose-trip-error {
  color: $charcaol-opacity-75;
  display: flex;
  justify-content: center;
  .content {
    display: block;
    text-align: center;
  }
}

.choose-trip-error,
.add-trips-error {
  margin-top: calc($header-height + 10%);
}

::ng-deep .add-trips-error > .content svg,
::ng-deep .choose-trip-error > .content svg {
  width: 100px;
  height: 100px;
}
