/* colorpalette */
$coral: #fdbfaf;
$mimosa: #fcee96;
$baby-blue: #7eb6d7;
$charcoal: #4d5264;
$white: #ffffff;

$baby-blue-opacity-50: rgba(126, 182, 215, 0.5);
$charcaol-opacity-50: rgba(77, 82, 100, 0.5);
$coral-opacity-50: rgba(253, 191, 175, 0.5);
$mimosa-opacity-50: rgba(252, 238, 150, 0.5);
