@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/general-styles.scss";

.wrapper {
}

.header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: $baby-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-el {
  padding: 15px 15px 0 15px;
  width: 50%;
  background-color: $charcaol-opacity-50;
}
.form-el .label {
  color: rgba(255, 255, 255, 0.7);
}

.upload-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
  .label {
    grid-column: 1 / span 2;
  }
  .link-input {
    width: calc(100% - 10px);
  }

  ngx-dropzone,
  .custom-dropzone {
    height: 250px;
    background: $charcaol-opacity-50;
    color: #fff;
    border: 5px dashed $coral;
    border-radius: 5px;
    font-size: 20px;
  }
}
