<div class="wrapper">
  <div class="trip-plan">
    <div
      class="header"
      [ngStyle]="{ 'background-image': backgroundImageString }"
    >
      <button mat-button class="save-btn" (click)="saveTrip()">
        {{ "UTILITY.SAVE" | translate }}
      </button>
      <mat-form-field class="form-el" appearance="fill">
        <mat-label>{{ "FORM_FIELDS.TRIP_NAME.TITLE" | translate }}</mat-label>
        <input matInput [(ngModel)]="plannerService.currentPlannedTrip.name" />
      </mat-form-field>

      <mat-form-field class="form-el" appearance="fill">
        <mat-label> {{ "UTILITY.DESCRIPTION" | translate }}</mat-label>
        <textarea
          matInput
          [(ngModel)]="plannerService.currentPlannedTrip.description"
        ></textarea>
      </mat-form-field>

      <div class="form-el upload-wrapper">
        <span class="label">
          {{ "FORM_FIELDS.IMAGE_UPLOAD.UPLOAD_TITLE_IMAGE" | translate }}
        </span>
        <div
          class="custom-dropzone"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelect($event)"
          accept="image/jpeg,image/jpg,image/png,image/gif"
        >
          <ngx-dropzone-label>
            <div>
              <span class="label">
                {{
                  "FORM_FIELDS.IMAGE_UPLOAD.DROP_IT_LIKE_A_BOMB" | translate
                }}</span
              >
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>
    </div>
    <div
      class="steps"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="locationDropped($event)"
    >
      <app-planner-step-edit
        *ngFor="
          let location of plannerService.currentPlannedTrip.locations;
          let i = index
        "
        [index]="i"
        cdkDrag
        class="location-step"
      ></app-planner-step-edit>
      <div
        class="add-btn"
        [inlineSVG]="'/assets/Icons/ico-plus.svg'"
        (click)="addLocation()"
      ></div>
    </div>
  </div>
</div>
