<div class="wrapper">
  <div class="trip-plan">
    <div
      class="header"
      [ngStyle]="{ 'background-image': backgroundImageString }"
    >
      <mat-form-field class="form-el" appearance="fill">
        <mat-label>Tripname</mat-label>
        <input matInput [(ngModel)]="plannerService.currentPlannedTrip.name" />
      </mat-form-field>

      <mat-form-field class="form-el" appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          [(ngModel)]="plannerService.currentPlannedTrip.description"
        ></textarea>
      </mat-form-field>

      <div class="form-el upload-wrapper">
        <span class="label"> Titelbild einfügen </span>
        <div>
          <div
            class="custom-dropzone"
            ngx-dropzone
            [accept]="'image/*'"
            (change)="onSelect($event)"
          >
            <ngx-dropzone-label>
              <div>
                <span>Drop it like a bomb</span>
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-image-preview>
          </div>
        </div>
        <mat-form-field appearance="fill" class="link-input">
          <mat-label>Link</mat-label>
          <input
            matInput
            [(ngModel)]="plannerService.currentPlannedTrip.name"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
