@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/general-styles.scss";

.wrapper {
}

.header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: $baby-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-el {
  padding: 15px 15px 0 15px;
  width: 50%;
  background-color: $charcaol-opacity-50;
}
.form-el .label {
  color: rgba(255, 255, 255, 0.7);
}
