@import "src/app/shared/styles/general-styles.scss";
@import "src/app/shared/styles/colors.scss";

.wrapper {
  height: calc(100% - 20px);
  padding: 10px 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .buttons {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.locations {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 50px;
  align-items: center;
  padding: 0 20px;
  background-color: $charcaol-opacity-50;
  * {
    display: inline-block;
    flex: 0 0 auto;
  }
}
