<div
  class="wrapper"
  [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
>
  <div class="header">
    <h2>{{ trip.name }}</h2>
    <div class="buttons">
      <button mat-mini-fab color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <!-- <img [src]="imageUrl" *ngIf="imageUrl.length > 0" /> -->
  <p>{{ trip.description }}</p>

  <div class="locations" *ngIf="trip.locations.length > 0">
    <app-location-card
      *ngFor="let location of trip.locations; let i = index"
      [location]="location"
    ></app-location-card>
  </div>
</div>
